.vscode
.venv
.idea/
.idea/**
*log
.log
*prof
*.iml
.DS_Store
launch.json
.ipynb_checkpoints
*code-workspace
.pyc
__pycache__


venv*
dataset*
*.zip
*test*
test.py
output/
logs
venv*
tools
plots*
*logs*
