gradio==5.47.0
chromadb==1.1.0
shapely==2.1.2
regex==2025.9.18
transformers==4.56.2
langchain==0.3.27
langchain-core==0.3.76
langchain-deepseek==0.1.4
langchain-google-genai==2.1.12
langchain-ollama==0.3.8
matplotlib==3.10.6
sentence-transformers==5.1.1
